body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fff;
  margin: 10px 48px 10px 10px;
  max-width: 400px;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
  border: none;
}

#map {
  height: 100vh;
}
